body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', 'sans-serif';
	font-size: 20px;	
	line-height: 30px;
}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-size: 50px;
}

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}

main{
	max-width: 800px;
/*set margin 0 to set the paragraph to center*/
	margin: 0 auto;	
	padding: 20px 20px;
}

main img{
		max-width: 100%;

}

h2{
	font-size:35px;
	color: darkred;
	margin: 40px 0 10px;
}

p{
	font-size: 20px;
}

a{
	color: orangered;
}

a:hover{
	color: whitesmoke;
	background-color: green;
}

footer{
	background-color: #d14635;
	text-align: center;
	color:whitesmoke;
}

footer p{
	margin:0;	
}

footer a{
	color: darkred;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}